---
import Page from '../layouts/Page.astro';
---
<Page title="About" image="/images/about.jpg">
  <p>Hi, my name is Dennis van der Stelt. Since I was 10 I knew I wanted to be a software developer. On my MSX 8020 I was writing MSX-Basic and I couldn't imagine doing anything else but this. Switched to MSX-2 8245 and 8280 and from there to PC where I started out with Turbo Pascal, Assembler and C++. Ended up doing Visual Basic for a large consultancy company and ended up with .NET.</p>

  <p>The first thing I developed in .NET was a website to share information and code called Wasabi. We came up with the name because of the hilarious <a href="https://www.youtube.com/watch?v=r04SBkkhQ1I">Budweiser commercials</a>. Wasabi ultimately turned into a site for blogging. A couple of years later I was looking for a better and usable domain name and ended up with BloggingAbout.NET. Initially a site for other developers to host their blog, but ultimately all other blogs were removed and it ended up as my own personal weblog, which you're looking at now.</p>

  <p><img src="/images/wasabi.jpg" alt="Wasabi.NET" /><br /><em>The beginning of BloggingAbout.NET as Wasabi</em></p>

  <p>I regularly present at usergroups or large conferences like NDC, Oredev, KCDC and others and occasionally blog about being there as well. One of my favorite presentations is Dealing with eventual consistency because of the graphics.</p>

  <p><iframe src="https://www.youtube.com/embed/Wy-BmhB6ty4" frameborder="0" allowfullscreen></iframe></p>

  <p>Or my other presentation about Autonomous Microservices can't share data, which uses the Lessig presentation style, which I first saw in the <a href="https://www.youtube.com/watch?v=RrpajcAgR1E">Identity 2.0 Keynote</a> by Dick Hardt and always wanted to do a presentation like that. I immediately regretted it after coming up with 200 slides and have the presentation far from finished. But I committed to it and finished it and the current version is way over 400 slides. I'm pretty happy about it and think every conference deserves to show it at least once ;-)</p>

  <p>So for every conference organizer, here's my <a href="https://sessionize.com/dennis-van-der-stelt/">sessionize profile</a> and you can <a href="/contact/">contact me</a> to do this or any other presentation at your conference or user group.</p>

  <p><iframe src="https://www.youtube.com/embed/0TYbHVc2yWI" frameborder="0" allowfullscreen></iframe></p>
</Page>
